<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=FSSAPBO;Initial Catalog=DB_MANTENIMIENTO;Persist Security Info=True;User ID=sa;Password=Sqladmin281"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>